extends layout

block content
    .btn-group.btn-group-lg(role='group', aria-label='...')
    button.btn.btn-default.submit-button(class="buttonSignIn", type='button',onclick="location.href = 'signin';") Sign in
    button.btn.btn-default.submit-button(class="buttonSignUp", type='button',onclick="location.href = 'signup';") Sign up





