doctype html

html
    head
        title= "MiniTW"
        button(type="button", class="btn btn-link", class="buttonMiniTW") MiniTW
        br
        link(href="bootstrap.min.css", rel="stylesheet")
        link(href="bootstrap-theme.min.css", rel="stylesheet")
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(src="jquery-2.1.3.min.js")
        script(src="bootstrap.min.js")
