extends layout

script.
    document.getElementById("buttonSignUp").innerHTML = signUp();


block content

    form(class="registerForm")
            label(for='exampleInputText', class="registerForm")
                img(src="../images/TwitterIntro-48.png")
                |New to MiniTW?
        .form-group
            input#exampleInputFullName.form-control( class="registerBlanck", type='text', placeholder='Full name')
        .form-group
            input#exampleInputEmail1.form-control(class="registerBlanck", type='email', placeholder='Enter email')
        .form-group
            input#exampleInputPassword1.form-control(class="registerBlanck", type='password', placeholder='Password')
        .form-group
            label(for='exampleInputFile')
                span.glyphicon.glyphicon-picture
                |(optional)
            input#exampleInputFile(class="uploadFile", type='file')
            br
            button#buttonSignUp.btn.btn-default.submit-button(type='button') Sign up




