extends layout

block content

    a(href="tweets") Tweets

    a(href="myprofile") My profile
    form
        textarea(class="tweet-box" name="Tweet box", cols="50", rows="5") Write your tweet...
        br
        input.btn.btn-primary(type="submit", value="Tweet")
        br

