extends layout

block content
    ul.nav.nav-pills
        li.active(role='presentation')
            a(href='tweets') Tweets
        li(role='presentation')
            a(href='myprofile') Profile
    form
        textarea(class="tweet-box" name="Tweet box", cols="50", rows="5") Write your tweet...
        br
        input.btn.btn-primary(type="submit", value="Tweet")
        br

