extends includes/layout

block content
    .btn-group.btn-group-lg(role='group', aria-label='...')

        button.btn.btn-default.submit-button.buttonSignIn(type='button',
        data-toggle='modal', data-target='#exampleModal', data-whatever='@mdo') Sign in

        button.btn.btn-default.submit-button.buttonSignUp(type='button',onclick="location.href = 'signup';") Sign up

        #exampleModal.modal.fade(tabindex='-1', role='dialog',
        aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#exampleModalLabel.modal-title Welcome :)
                    .modal-body
                        include signin_body
                    .modal-footer









