extends includes/layout

block content
nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(, class="navbar", type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/tweets', class="img")
                img(alt='Brand', src="../images/Twitter-48.png")
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
                li(role='presentation')
                    a(href='tweets') Tweets
                        span.badge 42
                li.active(role='presentation')
                    a(href='myprofile') Profile
                        span.glyphicon.glyphicon-user
            form.navbar-form.navbar-left
                .form-group
                .input-group(role='search')
                    input.form-control(type='text', placeholder='Search for...')
                    span.input-group-btn
                        button.btn.btn-default(type='button')
                            span.glyphicon.glyphicon-search
            ul.nav.navbar-nav.navbar-right
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                        span.glyphicon.glyphicon-cog
                        span.caret
                    ul.dropdown-menu(role='menu')
                        li
                            a(href='#')
                                span.glyphicon.glyphicon-pencil
                                | Edit profile
                        li
                            a(href='/')
                                span.glyphicon.glyphicon-off
                                | Log out
