extends includes/layout


block content

    form.registerForm( action="/signup", method="POST")
        label(for='exampleInputText')
            | New to MiniTW?

        .form-group
            input#username.form-control.registerBlanck(name="username", type='text',
            placeholder='Full name')
            p.pAlert#alertUsername
        .form-group
            input#email.form-control.registerBlanck(name="email", type='email',
            placeholder='Enter email')
            p.pAlert#alertEmail
        .form-group
            input#password.form-control.registerBlanck(name="password", type='password',
            placeholder='Password')
            p.pAlert#alertPassword

        button#buttonSignUp.btn.btn-default.submit-button(type='button') Sign up

    script(src="scripts/signup.js")


