extends includes/layout

block content
    form(action='/signin', method='POST')
        | User name:
        br
        input(type="text", name="username")
        br
        | Password:
        br
        input(type="password", name="password")
        br
        br
        input(type="submit", value="Sign in")


    a(href="tweets") Tweets
    br
    a(href="myprofile") My profile
