extends includes/layout


block content

    form(class="registerForm", action="/signup", method="POST")
        label(for='exampleInputText')
            img(src="../images/TwitterIntro-48.png")
            | New to MiniTW?

        .form-group
            input.form-control.registerBlanck(name="username", type='text',
            placeholder='Full name')
        .form-group
            input.form-control.registerBlanck(name="email", type='email',
            placeholder='Enter email')
        .form-group
            input#password.form-control.registerBlanck(name="password", type='password',
            placeholder='Password', data-container='body', data-toggle='popover',
            data-placement='right', data-content='Length(min): 8 car\nContain(min/one):A-Z & ASCII')
        .form-group
            label(for='exampleInputFile')
                span.glyphicon.glyphicon-picture
                | (optional)
        input.uploadFile#exampleInputFile(type='file')
        br
        button#buttonSignUp.btn.btn-default.submit-button(type='submit') Sign up

    script(src="scripts/signup.js")


