extends includes/navbar

block content

    form.col-md-6()
        textarea#text.textarea(rows=5)
        p#alert
        input#button.btn.btn-primary(type='button', value='Tweet')
        br
        br

    ul.col-md-6#tweet-list

    script(src="vendor/moment.min.js")
    script(src="scripts/tweets.js")


