extends includes/navbar

block content

    form.col-md-6()
        textarea#text.textarea(rows=5)
        p#alert
        input#button.btn.btn-primary(type='button', value='Tweet')

    ul.col-md-6#tweet-list
        -each tweet in tweets
            li#message.tweets
                p.date#date #{tweet.date}
                p.user
                    img.img(alt='Brand', src="../images/icon.png")
                    |#{tweet.user.username}
                p.message #{tweet.text}

    script(src="vendor/moment.min.js")
    script(src="scripts/tweets.js")


