@font-face
{
    font-family: "Barata Display Beta";
    src: url(../text_fonts/BarataDisplayBetaVersion.otf)
}

@font-face
{
    font-family: "Claire Hand Regular";
    src: url(../text_fonts/ClaireHandRegular.otf)
}

body
{
    padding: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #245269;
    text-align: center;
    background-color: #204d74;
    background-image: url(../images/wall.jpeg);
    background-repeat: repeat;

}
.buttonSignIn
{
    width: 400px;
    height: 200px;
    background-image: url(../images/flyingbirds.jpg);
    font: 50px "Claire Hand Regular";

}

.buttonSignUp
{
    width: 400px;
    height: 200px;
    background-image: url(../images/staying%20birds.jpg);
    font: 50px "Claire Hand Regular";

}

.buttonMiniTW
{
    width: 400px;
    height: 200px;
    background-image: url(../images/wall.jpeg);
    font: 150px "Barata Display Beta";
    text-decoration: none;
}
.registerForm
{
    align-items: center;
}
.registerBlanck
{
    width: 300px;
    align-self: center;
    margin: 0 auto;
}
.uploadFile
{
    width: 300px;
    align-self: center;
    margin: 0 auto;
    padding-left: 50px;
}

.rightPosition
{
    text-align: right;
}

.img
{
    padding:0; margin:0;
}

.navbar
{
    font: 16px "Claire Hand Regular";
}

/*a {*/
  /*color: lightseagreen;*/
/*}*/


/*.tweet-box{*/
    /*background-color: cornsilk;*/
    /*font: 14px "Lucida Console", Helvetica, Arial;*/
/*}*/

