body
{
    padding: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #245269;
    text-align: center;
    background-color: #204d74;
    background-image: url(../images/wall.jpeg);
    background-repeat: repeat;

}
.buttonStart
{
    width: 400px;
    height: 200px;
    background-image: url(../images/wall.jpeg);
    font: 50px "MV Boli";

}
.buttonMiniTW
{
    width: 400px;
    height: 200px;
    background-image: url(../images/wall.jpeg);
    font: 100px "Georgia";
    text-decoration: none;
}
.registerForm
{
    align-items: center;
}
.registerBlanck
{
    width: 300px;
    align-self: center;
    margin: 0 auto;
}
.uploadFile
{
    width: 300px;
    align-self: center;
    margin: 0 auto;
    padding-left: 50px;
}

.rightPosition
{
    text-align: right;
}

.img
{
    padding:0; margin:0;
}

.new
{
    font: 24px "Tempus Sans ITC";
}

/*a {*/
  /*color: lightseagreen;*/
/*}*/


/*.tweet-box{*/
    /*background-color: cornsilk;*/
    /*font: 14px "Lucida Console", Helvetica, Arial;*/
/*}*/

@font-face  {
    font-family: Open sans;
    src: url(fonts/Open_Sans/OpenSans-regilar.ttf)
}