@font-face {
    font-family: "Wolf in the City";
    src: url(../fonts/WolfintheCity.otf)
}

@font-face {
    font-family: "MyriadPro";
    src: url(../fonts/MyriadPro.otf)
}


body {
    padding: 20px;
    font: 16px "MyriadPro", Helvetica, Arial, sans-serif ;
    color: #245269;
    text-align: center;
    background-color: #204d74;
    background-image: url(../images/foggy_birds.png);
    background-repeat: repeat;
}

.tweets{
    list-style-type: none;
    background: rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 2px 5px 5px 2px;
}

.date{
    font: 13px "Arial";
    color: #346a85;
    text-align: right;
    padding: 7px 10px 0px 5px;
    margin-bottom: 0px;
    font-style: italic;
}

.user{
    font: 16px "MyriadPro";
    color: #7bb4e3;
    text-align: left;
    padding: 0px 10px 0px 5px;
    margin-bottom: 0px;
    font-weight: bold;

}

.message{
    font: 16px "MyriadPro";
    color: #346a85;
    text-align: left;
    padding: 0px 10px 0px 60px;

}
.textarea{
    background-image: url("../images/swirl.png");
    width: 100%;
}


.buttonSignIn {
    width: 400px;
    height: 200px;
    background-image: url(../images/flyingbirds.jpg);
    color: inherit;
    font: 40px "MyriadPro" !important;
}

.buttonSignUp {
    width: 400px;
    height: 200px;
    background-image: url(../images/staying%20birds.jpg);
    color: inherit;
    font: 40px "MyriadPro" !important;

}

.miniTW {
    margin-top: -50px;
    font: 24.9vw "Wolf in the City";
    text-align-all: center;
    text-decoration: none !important;
}

.registerForm {
    align-items: center;
    font: 20px "MyriadPro";
}

.registerBlanck {
    width: 300px;
    align-self: center;
    margin: 0 auto;
}

.uploadFile {
    width: 300px;
    align-self: center;
    margin: 0 auto;
    padding-left: 50px;
}

.rightPosition {
    text-align: right;
}

.img {
    padding: 0;
    margin: 0;
    margin-right: 5px;
    border-radius: 10px;
}

.navbar {
    font: 16px "MyriadPro";
}

