@font-face {
    font-family: "Barata Display Beta";
    src: url(../fonts/BarataDisplayBetaVersion.otf)
}

@font-face {
    font-family: "Claire Hand Regular";
    src: url(../fonts/ClaireHandRegular.otf)
}

body {
    padding: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #245269;
    text-align: center;
    background-color: #204d74;
    background-image: url(../images/wall.jpeg);
    background-repeat: repeat;
}

.tweets{
    width: 100%;
    list-style-type: none;
    font: 14px "Arial";
    color: #ffffff;
    background-color: #245269;
    border-radius: 10px;
}

.textForm{

  float:left;
  width: 250px;
    height: 300px;
  padding: 12px 20px 12px 20px;
  background: #fcfcfc;
  color: #2a2a2a;
          }


.buttonSignIn {
    width: 400px;
    height: 200px;
    background-image: url(../images/flyingbirds.jpg);
    font: 40px "Claire Hand Regular" !important;

}

.buttonSignUp {
    width: 400px;
    height: 200px;
    background-image: url(../images/staying%20birds.jpg);
    font: 40px "Claire Hand Regular" !important;

}

.miniTW {
    width: 400px;
    height: 200px;
    font: 150px "Barata Display Beta";
    text-align-all: center;
    margin: 0 auto;
    text-decoration: none !important
}

.registerForm {
    align-items: center;
    font: 20px "Claire Hand Regular";
}

.registerBlanck {
    width: 300px;
    align-self: center;
    margin: 0 auto;
}

.uploadFile {
    width: 300px;
    align-self: center;
    margin: 0 auto;
    padding-left: 50px;
}

.rightPosition {
    text-align: right;
}

.img {
    padding: 0;
    margin: 0;
}

.navbar {
    font: 16px "Claire Hand Regular";
}

/*a {*/
/*color: lightseagreen;*/
/*}*/

/*.tweet-box{*/
/*background-color: cornsilk;*/
/*font: 14px "Lucida Console", Helvetica, Arial;*/
/*}*/

