body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color:lightseagreen;
    text-align: center;

}

a {
  color: lightseagreen;
}


.tweet-box{
    background-color: cornsilk;
    font: 14px "Lucida Console", Helvetica, Arial;
}