doctype html

html
    head
        title MiniTwr
        include styles
        include scripts

    body
        button.col-md-12.btn.btn-link.miniTW(type="button", onclick="location.href = '/';") MiniTwr
        block content

