doctype html

html
    head
        title MiniTW
        include styles

    body
        button(type="button", class="btn btn-link", class="miniTW", onclick="location.href = '/';") MiniTW
        block content
        include scripts
